<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shine.mapper.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.shine.model.UserInfo" >
    <id column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="USER_TEL" property="userTel" jdbcType="VARCHAR" />
    <result column="USER_NICK" property="userNick" jdbcType="VARCHAR" />
    <result column="USER_PASSWORD" property="userPassword" jdbcType="VARCHAR" />
    <result column="USER_MAIL" property="userMail" jdbcType="VARCHAR" />
    <result column="USER_ROLE" property="userRole" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USER_ID, USER_TEL, USER_NICK, USER_PASSWORD, USER_MAIL, USER_ROLE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shine.model.UserInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from USER_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from USER_INFO
    where USER_ID = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from USER_INFO
    where USER_ID = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shine.model.UserInfoExample" >
    delete from USER_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shine.model.UserInfo" >
    insert into USER_INFO (USER_ID, USER_TEL, USER_NICK, 
      USER_PASSWORD, USER_MAIL, USER_ROLE
      )
    values (#{userId,jdbcType=INTEGER}, #{userTel,jdbcType=VARCHAR}, #{userNick,jdbcType=VARCHAR}, 
      #{userPassword,jdbcType=VARCHAR}, #{userMail,jdbcType=VARCHAR}, #{userRole,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shine.model.UserInfo" >
    insert into USER_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userTel != null" >
        USER_TEL,
      </if>
      <if test="userNick != null" >
        USER_NICK,
      </if>
      <if test="userPassword != null" >
        USER_PASSWORD,
      </if>
      <if test="userMail != null" >
        USER_MAIL,
      </if>
      <if test="userRole != null" >
        USER_ROLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userTel != null" >
        #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userNick != null" >
        #{userNick,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userMail != null" >
        #{userMail,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        #{userRole,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shine.model.UserInfoExample" resultType="java.lang.Integer" >
    select count(*) from USER_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update USER_INFO
    <set >
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userTel != null" >
        USER_TEL = #{record.userTel,jdbcType=VARCHAR},
      </if>
      <if test="record.userNick != null" >
        USER_NICK = #{record.userNick,jdbcType=VARCHAR},
      </if>
      <if test="record.userPassword != null" >
        USER_PASSWORD = #{record.userPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.userMail != null" >
        USER_MAIL = #{record.userMail,jdbcType=VARCHAR},
      </if>
      <if test="record.userRole != null" >
        USER_ROLE = #{record.userRole,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update USER_INFO
    set USER_ID = #{record.userId,jdbcType=INTEGER},
      USER_TEL = #{record.userTel,jdbcType=VARCHAR},
      USER_NICK = #{record.userNick,jdbcType=VARCHAR},
      USER_PASSWORD = #{record.userPassword,jdbcType=VARCHAR},
      USER_MAIL = #{record.userMail,jdbcType=VARCHAR},
      USER_ROLE = #{record.userRole,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shine.model.UserInfo" >
    update USER_INFO
    <set >
      <if test="userTel != null" >
        USER_TEL = #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userNick != null" >
        USER_NICK = #{userNick,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userMail != null" >
        USER_MAIL = #{userMail,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        USER_ROLE = #{userRole,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shine.model.UserInfo" >
    update USER_INFO
    set USER_TEL = #{userTel,jdbcType=VARCHAR},
      USER_NICK = #{userNick,jdbcType=VARCHAR},
      USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      USER_MAIL = #{userMail,jdbcType=VARCHAR},
      USER_ROLE = #{userRole,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>

  <select id="selectByTel" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from USER_INFO
    where USER_TEL = #{userTel,jdbcType=VARCHAR}
  </select>
  <select id="selectByMail" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from USER_INFO
    where USER_MAIL = #{userMail,jdbcType=VARCHAR}
  </select>

  <select id="selectByUserInfo" resultMap="BaseResultMap" parameterType="com.shine.model.UserInfo" >
    select
    <include refid="Base_Column_List" />
    from USER_INFO
    WHERE 1 = 1
    <if test="!(userId == 0||userId==null)" >
      AND USER_ID = #{userId,jdbcType=INTEGER}
    </if>
    <if test="userTel != null" >
      AND USER_TEL = #{userTel,jdbcType=VARCHAR},
    </if>
    <if test="userName != null" >
      AND USER_NAME = #{userName,jdbcType=VARCHAR},
    </if>
    <if test="userPassword != null" >
      AND USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
    </if>
    <if test="userMail != null" >
      AND USER_MAIL = #{userMail,jdbcType=VARCHAR},
    </if>
    <if test="userRole != null" >
      AND USER_ROLE = #{userRole,jdbcType=INTEGER}
    </if>
  </select>
</mapper>